html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

img {
    max-width: 100%;
}
