:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);

  --body-background: var(--stone100);
  --container-background: var(--white);

  --font-headings: "Young Serif", serif;
  --font-content: "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
li,
ol {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 46rem;
  background-color: var(--body-background);
  margin: 0 auto;
}

article {
  background-color: var(--container-background);
  margin: 8em 0;
  border-radius: 1.5em;
  padding: 2.7em;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
  border-radius: 1.2em;
  margin-block-end: 2.5em;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: var(--font-content);
  line-height: 1.5em;
  color: var(--stone600);
}

.description {
  margin-bottom: 2rem;
}

.prep-time {
  background-color: var(--rose50);
  border-radius: 0.75em;
}

.prep-content {
  color: var(--stone600);
  padding: 1.5em 1.5em 1em 1.5em;
  margin-bottom: 2em;
  font-family: var(--font-content);
}

.prep-content li::marker {
  color: var(--rose800);
}

.prep-content span {
  color: var(--stone600);
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  color: var(--rose800);
  font-family: var(--font-content);
  font-weight: 600;
}

.prep-content ul {
  line-height: 2em;
}

h2 {
  color: var(--brown);
  font-weight: 500;
  font-size: 1.75em;
}

.ingredients {
  color: var(--stone600);
  font-family: var(--font-content);
  border-bottom: 1px solid var(--stone150);
  margin-bottom: 1.5em;
}

.ingredients li {
  line-height: 2em;
}

.ingredients li:last-child {
  padding-bottom: 1em;
}

.ingredients li::marker {
  color: var(--brown);
}

.instructions {
  font-family: var(--font-content);
  color: var(--stone600);
  border-bottom: 1px solid var(--stone150);
  margin-bottom: 1.5em;
}

.instructions span {
  font-weight: bold;
}

.instructions ol {
  padding: 1.5em;
}

.instructions li {
  padding-left: 0.9em;
  margin-bottom: 0.2rem;
  line-height: 1.6em;
}

.instructions li::marker {
  color: var(--rose800);
  font-weight: 700;
}

.nutrition h2 {
  margin-bottom: 1em;
}

.nutrition p {
  margin-bottom: 1em;
}

table {
  font-family: var(--font-content);
  width: 100%;
  line-height: 2.5em;
  color: var(--stone600);
  border-collapse: collapse;
}

.nutrition-label {
  padding-left: 2em;
}

.nutrition-value {
  padding-right: 2em;
  font-weight: 600;
  color: var(--brown);
}

.nutrition-table tr {
  border-bottom: 1px solid var(--stone150);
}

.nutrition-table tr:last-child {
  border-bottom: none;
}

@media (min-width: 375px) {
  article {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  h1 {
    line-height: 1em;
  }
  .content {
    padding: 2em;
  }

  img {
    border-radius: 0;
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.25em;
  }
}

@media (min-width: 768px) {
  article {
    margin: 8em 3em;
    padding: 2.5em;
    border-radius: 1.5em;
    padding-bottom: 0;
  }

  img {
    /* max-width: 100%; */
    border-radius: 1.2em;
    /*margin-block-end: 2.5em;*/
  }
}

@media (min-width: 1440px) {
  article {
    margin: 8em 0;
    border-radius: 1.5em;
    padding: 2.5em;
    padding-bottom: 0;
  }

  body {
    max-width: 52rem;
  }
}
