:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    --body-background: var(--stone100);
    --container-background: var(--white);

    --font-primary: "Young Serif", serif;
    --font-secondary: "Outfit", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 52rem;
    background-color: var(--body-background);
    margin: 0 auto;
}

article {
    background-color: var(--container-background);
    margin: 8rem 0;
}

img {
    max-width: 100%;
}

@media (max-width: 375px) {
    article {
        margin: 0;
    }
}
